@import './common.scss';

.entry {
    background: url("../images/double-bubble-outline.png");
    background-blend-mode: multiply;
}

#add-button {
    margin: auto;
    display: block;
    font-size: 1.5rem !important;
}