$theme-colors: (
    "primary": rgb(194, 241, 192),
    "secondary": #79A177,
);

@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&family=Vollkorn&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

p, button {
    font-family: 'Vollkorn', Georgia, Times, serif;
}

.btn {
    background: url('../images/double-bubble-outline.png');
    background-color: theme-color("secondary");
    background-blend-mode: multiply;
}

body {
    background: url("../images/webb-dark.png");
}

.entry, .jumbotron {
    background: url("../images/double-bubble-outline.png");
    background-blend-mode: multiply;
}